\<center>
	\<table style="width:600px;border: 0px;color:#7f7f7f;font-family:'Lucida Grande', Arial, sans-serif;font-size:13px;line-height:21px;">
		\<tr>\<td>\<img src="cid:image1.jpg" border="0">\</td>\</tr>
		\<tr>\<td>\<p>Hola <CTR0G01>,\</p>\</td>\</tr>
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				Bienvenido(a) al BBVA Continental. Gracias por depositar tu confianza en nosotros y abrir una Cuenta Ganadora. Esta cuenta no solo te permite ahorrar, tambi&eacute;n podr&aacute;s participar de fabulosas campa&ntilde;as de canjes y sorteos de premios exclusivos.
			\</p>\</td>
		\</tr>
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				Tu Cuenta Ganadora se encuentra activa y ya puedes recibir dep&oacute;sitos desde cualquiera de nuestros canales disponibles. Te invitamos a que empieces a utilizarla. Recuerda que para realizar retiros y/o transferencias, debes contar con tu tarjeta de d&eacute;bito.
			\</p>\</td>
		\</tr>
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				Te indicamos los detalles de tu cuenta:
			\</p>\</td>
		\</tr>
		\<tr>
			\<td>
				\<ul>
					\<li style="color:#0070C0;">\<span style="color:#7f7f7f;font-family:'Lucida Grande', Arial, sans-serif;font-size:13px;line-height:21px;">Fecha de apertura: <CTR0A01>\</span>\</li>
					\<li style="color:#0070C0;">\<span style="color:#7f7f7f;font-family:'Lucida Grande', Arial, sans-serif;font-size:13px;line-height:21px;">Tipo de Cuenta: Cuenta Ganadora\</span>\</li>
					\<li style="color:#0070C0;">\<span style="color:#7f7f7f;font-family:'Lucida Grande', Arial, sans-serif;font-size:13px;line-height:21px;">Moneda: <CTR0A08>\</span>\</li>
					\<li style="color:#0070C0;">\<span style="color:#7f7f7f;font-family:'Lucida Grande', Arial, sans-serif;font-size:13px;line-height:21px;">N&uacute;mero de Cuenta: <CTR0P01>\</span>\</li>
					\<li style="color:#0070C0;">\<span style="color:#7f7f7f;font-family:'Lucida Grande', Arial, sans-serif;font-size:13px;line-height:21px;">C&oacute;digo de Cuenta Interbancario: <CTR0P16>\</span>\</li>
				\</ul>
			\</td>
		\</tr>

		<if(FCTR0P15&&FCTR0P18)><!-- KIT1 + RBA -->!>
			\<tr>
				\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
					Asimismo, en cumplimiento del art&iacute;culo 41&#x00b0; del Reglamento de Transparencia, te adjuntamos (i) la Solicitud de Apertura de Cuenta y Reglamento de Tarjeta de D&eacute;bito, (ii) las Cl&aacute;usulas Generales de Contrataci&oacute;n, (iii) las Cl&aacute;usulas Espec&iacute;ficas y Cartilla de Informaci&oacute;n, (iv) la Declaraci&oacute;n Jurada de Residencia Fiscal para Personas Naturales; y (v) Declaraci&oacute;n de Actividad Econ&oacute;mica. El documento (v) deber&aacute; ser completado y entregado en cualquiera de nuestras oficinas en un plazo m&aacute;ximo de 30 d&iacute;as calendario.
				\</p>\</td>
			\</tr>
		<elseif(FCTR0P15)><!-- KIT1 -->!>
			\<tr>
				\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
					Asimismo, en cumplimiento del art&iacute;culo 41&#x00b0; del Reglamento de Transparencia, te adjuntamos (i) la Solicitud de Apertura de Cuenta y Reglamento de Tarjeta de D&eacute;bito, (ii) las Cl&aacute;usulas Generales de Contrataci&oacute;n, (iii) las Cl&aacute;usulas Espec&iacute;ficas y Cartilla de Informaci&oacute;n; y (iv) la Declaraci&oacute;n Jurada de Residencia Fiscal para Personas Naturales.
				\</p>\</td>
			\</tr>
		<elseif(FCTR0P18)><!-- RBA -->!>
			\<tr>
				\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
					Asimismo, en cumplimiento del art&iacute;culo 41&#x00b0; del Reglamento de Transparencia, te adjuntamos (i) la Solicitud de Apertura de Cuenta y Reglamento de Tarjeta de D&eacute;bito, (ii) las Cl&aacute;usulas Generales de Contrataci&oacute;n, (iii) las Cl&aacute;usulas Espec&iacute;ficas y Cartilla de Informaci&oacute;n; y (iv) Declaraci&oacute;n de Actividad Econ&oacute;mica. El documento (iv) deber&aacute; ser completado y entregado en cualquiera de nuestras oficinas en un plazo m&aacute;ximo de 30 d&iacute;as calendario.
				\</p>\</td>
			\</tr>
		<else><!-- NINGUNO -->!>
			\<tr>
				\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
					Asimismo, en cumplimiento del art&iacute;culo 41&#x00b0; del Reglamento de Transparencia, te adjuntamos (i) la Solicitud de Apertura de Cuenta y Reglamento de Tarjeta de D&eacute;bito, (ii) las Cl&aacute;usulas Generales de Contrataci&oacute;n; y (iii) las Cl&aacute;usulas Espec&iacute;ficas y Cartilla de Informaci&oacute;n.
				\</p>\</td>
			\</tr>
		<endif>
		
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				Recuerda que la TREA (tasa de rendimiento efectiva anual) es la tasa que te permite determinar cu&aacute;nto ganar&aacute;s por el dinero depositado en el transcurso de un a&ntilde;o, luego de descontar las comisiones y gastos aplicables a la cuenta. Dicho concepto lo podr&aacute;s encontrar en la Cartilla de Informaci&oacute;n, que forma parte del contrato.
			\</p>\</td>
		\</tr>
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				Para mayor informaci&oacute;n sobre Cuenta Ganadora, tasas de inter&eacute;s, comisiones, gastos y penalidades, ingresa a \<span style="color:#0070C0;font-size: 14px;">www.bbvacontinental.pe\</span> o visita nuestra red de oficinas a nivel nacional.
			\</p>\</td>
		\</tr>
		\<tr>\<td>\<p>\</p>\</td>\</tr>
		\<tr>
			\<td>
				\<img src="cid:image2.jpg" border="0">
			\</td>
		\</tr>
		\<tr>\<td>\<p>\</p>\</td>\</tr>
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				\<span style="color:#0070C0;font-size: 14px;">Nota : \</span>Para garantizar la entrega de los emails a su bandeja de entrada, por favor a&ntilde;ada a su libreta de direcciones nuestra direcci&oacute;n postmaster@bbvacontinental.pe.
			\</p>\</td>
		\</tr>
		\<tr>
			\<td>\<p style="padding-bottom: 10px;text-align: justify;line-height: 120%">
				Por tu seguridad, BBVA Continental te informa que:
			\</p>\</td>
		\</tr>
		\<tr>
			\<td>
				\<ul>
					\<li>Nunca solicitaremos tus datos confidenciales por correo, tales como la clave SMS de Internet, clave de cajero autom&aacute;tico, DNI o tu n&uacute;mero de celular.	\</li>
					\<li>Si tienes alguna duda acerca de la autenticidad de este correo, escr&iacute;benos a bbvaseguridadl.pe@bbva.com y te responderemos.\</li>
					\<li>Para cualquier otra consulta, visita nuestra web www.\<a style="color:#0070C0;" href="www.bbvacontinental.pe">bbvacontinental.pe\</a> o llama a nuestra Banca por Tel&eacute;fono al 595-0000 opci&oacute;n 2 - 4.\</li>
				\</ul>
			\</td>
		\</tr>		
	\</table>
\</center>